exposeee-api ansible_ssh_port=22 ansible_ssh_host=api-vbox-ip ansible_ssh_user=vagrant ansible_ssh_private_key_file=~/.vagrant.d/insecure_private_key ansible_python_interpreter=/usr/bin/python3 allowed_origin=http://app-vbox-ip ansible_host=api-vbox-ip
