[Unit]
Description=Django-RQ Worker
After=network.target

[Service]
WorkingDirectory={{ app_directory }}
ExecStart={{ app_directory }}/{{ app_env }}/bin/python3.9 {{ app_directory }}/manage.py rqworker default

[Install]
WantedBy=multi-user.target
