[Unit]
Description=Django-RQ Worker
After=network.target

[Service]
WorkingDirectory={{ app_directory }}
ExecStart=python3 {{ app_directory }}/manage.py rqworker default

[Install]
WantedBy=multi-user.target